{% extends "layout.html" %}
{% block content %}
    <head>
    <h1 style="color: white;">Acerca de...</h1>
    <p style="color: white;">Esta pagina fue creada por Alonso Ferreyra, Gabriel Spranger, Benjamin Diaz, Renato Bacigalupo y Rodrigo Cespedes.</p>
    </head>
    <body>
     <p style="text-align:center;"><img class="center" src="/static/profile_pics/PHOTO.png"  style="width:559px;height:370px;" ></p>
        <p style="color: white;">El proyecto fue realizado tomando como base la guia 'Flaskblog' de Corey Schafer .</p>
    </body>


{% endblock content %}


